{% load static %}

<html>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

		<meta charset="utf-8">

        <title>Iskander Karimov blog</title>
    </head>
    <body>
	    
	    <div class="header">
	        <h1><a href="/">Iskander Karimov blog</a></h1>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>

    </body>
</html>