{% extends 'blog/base.html' %}

{% block content %}

	<div class="wrapPost">
	    <div class="postOne">
	        <h1>{{ post.title }}</h1>
	        <p>{{ post.text|linebreaksbr }}</p>
	        {% if post.published_date %}
	            <p style="margin-bottom: 0">{{ post.published_date }}</p>
	        {% endif %}
	    </div>
	</div>

	<div class="wrapPost">
	    <a href="{% url 'post_edit' pk=post.pk %}" style="width: 100%;">
	    	<div style="padding: 0 40px 0 40px; display: flex; justify-content: center;">
		    	<div class="editBtn">
		    		<div style="margin-right: 10px">edit</div>
	                <i class="fa fa-edit" style="margin-left: 10px;"></i>
	            </div>
	        </div>        
        </a>
    </div>

{% endblock %}