<!DOCTYPE html>
<html>
<head>
	<title>first page</title>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
	<style type="text/css">
		body {
			background: #262626;
			color: #FFFFFF;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		div {
			padding: 0 30px 0 30px;
			border: 3px solid #f84b0d;
			border-radius: 15px;
		}

		p, h1 {
			font-family: 'Titillium Web';
		}
	</style>

	<div>
		<h1>Hello world!</h1>
		<!-- <p>the site works on django</p> -->
	</div>
</body>
</html>