@font-face {
	font-family: 'googleSans';
	src: url('../fonts/ProductSans-Regular.ttf');
}

@font-face {
	font-family: 'googleSansBold';
	src: url('../fonts/ProductSans-Bold.ttf');
}

body {
    letter-spacing: 1px;
	margin: 0;
	padding: 0 0 40px 0;
	font-family: 'googleSansBold';
	background: #fafafa;
}

.header h1 a {
	text-decoration: none;
	color: white;
}

.header {
	background: linear-gradient(45deg, #3f48cc, #f81a4a);
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 0;
	color: white;
	box-shadow: 0 5px 8px #949494;
}

.wrapPost {
	padding: 40px 40px 0 40px;
	display: flex;
	justify-content: center;
}

.post {
	box-shadow: 0 5px 11px #949494; 
	background: white;
	border-radius: 20px; 
	width: 100%;
	padding: 20px;
	padding: 20px 40px 30px 40px;
    font-family: 'googleSans';
}

.post p {
	color: #545454;
    font-size: 20px;
}

.postOne {
	width: 100%;
	font-size: 20px;
	padding: 10px 40px 40px 40px;
	border-radius: 20px; 
    font-family: 'googleSans';
}

.postOne p {
	color: #434343;
    font-size: 25px;
    line-height: 31px;
}

.post a {
	text-decoration: none;
	color: black;
}

.newPostPlus {
	background: black;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 25px;
	border-radius: 20px;
	box-shadow: 0 5px 11px #949494;
}

.newPostPlus a i {
	border-radius: 20px;
	height: auto;
	padding: 20px 0 20px 0;
	color: white;
}

.newPostPlus a {
	color: white;
	text-decoration: none;
}

.postEditor p {
	font-family: 'Roboto';
	font-weight: bold;
}

.newPost {
	background: white;
	border-radius: 20px;
	box-shadow: 0 5px 11px #949494;
	padding: 20px 60px 30px 60px;
}

.newPost p {
	font-size: 25px;
}

.editBtn {
	margin-right: 20px;
	box-shadow: 0 5px 11px #949494;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: white;
    padding: 20px 0 20px 0;
    background: black;
    border-radius: 20px;
    font-size: 31px; 
}

.saveBtn {
	box-shadow: 0 5px 11px #949494;
	display: flex;
	justify-content: center;
	align-items: center;
    color: white;
    padding: 20px 40px 20px 40px;
    background: black;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-family: 'googleSans';
}

.editBtn:hover , .saveBtn:hover, .newPostPlus:hover {
	transition-duration: 3s;
	background: linear-gradient(#474747, #161616);
}

a {
	text-decoration: none;
}

@media(max-width: 1080px) {
  	.header { 
  		font-size: 26px;
  	}

  	.postOne p, .post p {
  		line-height: 30px;
  		font-size: 22px;
  	}

  	.saveBtn, .editBtn, .newPostPlus {
  		font-size: 26px;
  	}

  	.postOne h2, .post h2 {
  		font-size: 26px;
  	}

}